.shopType{
    margin-bottom: 0;
     
 }
 
 
 .typeBox{ 
     width:100%;
     height: 400px;
 }
 
 .typeBox h3{
     margin: auto;
     text-align: center;
     line-height: 400px;
 }
 
.shopSearch{
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.shopSearch input{
    width: 100%;
    border-radius: 50px;
    border: 3px solid aqua;
    line-height: 20px;
}

.shopSearch input:focus{
    color: aqua;
    outline: 0;
    border: 3px solid aqua;
}

.searchBtn{
    width: 35px;
    height: 28px;
    background-color: aqua;
    border: none;
    border-radius: 50% 0;
    position: absolute;
    right: 0px;
    cursor: pointer;

}

.searchTag{
    margin-top: 20px;
    text-align: left;
    
    
}

.searchTag button{
    cursor: pointer;
    background-color: aqua;
    border-radius: 30px;
    border: 1px solid rgb(2, 218, 218);
}

.shopHotCity{
    /* margin: 30px;
    max-width: 1200px;
    text-align: center; */

}

.cityBox{
    /* width: 100%; */
    /* background-color: aqua; */
    /* display: flex;
    flex-wrap: wrap;
    margin:auto */
    
}

.cityBox .city{
    /* margin:auto; */
    
}

.cityBox .city img{
    /* margin: 20px; */
    /* width:100%; */
    /* border-radius: 50% 0; */
}

.shopSort_wrap{
    display: flex;
    margin-bottom: 20px;

    
}

@media screen and (min-width:768px){
    .shopType_wrap{
        display: flex;
        margin-bottom: 20px;
    
        
    }

    .typeBox{ 
        width:33.333333%;
        height: 400px;

    }
    
    .type-box h3{
        text-align: center;
        margin:160px;
    }

    .typeBox.spot:hover{
        width: 50%;
        transition: all 0.2s ease-in-out;
    }
    
    .typeBox.spot:hover div.hotel{
        width: 25%;
        /* transition: all 0.2s ease-in-out; */
    }
    
    .typeBox.spot:hover div.restaurant{
        width: 25%;
        /* transition: all 0.2s ease-in-out; */
    }

    .typeBox.hotel:hover{
        width: 50%;
        transition: all 0.2s ease-in-out;
    }

    .typeBox.hotel:hover div.spot{
        width: 25%;
        /* transition: all 0.2s ease-in-out; */
    }
    
    .typeBox.hotel:hover div.restaurant{
        width: 25%;
        /* transition: all 0.2s ease-in-out; */
    }

    .typeBox.food:hover{
        width: 50%;
        transition: all 0.2s ease-in-out;
    }

    .typeBox.food:hover div.spot{
        width: 25%;
        /* transition: all 0.2s ease-in-out; */
    }
    
    .typeBox.food:hover div.hotel{
        width: 25%;
        /* transition: all 0.2s ease-in-out; */
    }
}

