<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>揪團表單</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="js/jquery.js"></script>
    <script src='js/vue.js'></script>
    <link rel="shortcut icon" href="images/logo/logo_84x50.png" type="image/png">
</head>

<body class="groupform_body">
    <header>
        <!-- nav -->
        <nav class="nav_Wrap">
            <section class="navBlock">
                <a href="home.html">
                    <h1 class="navLogo">
                        <img src="images/logo/logo_84x50.png" alt="TravelMaker">
                    </h1>
                </a>
                <ul class="mainNav">
                    <a href="tour.html"><li>行程規劃</li></a>
                    <a href="group.html"><li>揪團旅行</li></a>
                    <a href="shop.html"><li>景點門票</li></a>
                    <a href="postcard.html"><li>客製明信片</li></a>
                </ul>
                <ul class="navMember">
                    <li><a href="shopcart.html"><i class="bi bi-minecart-loaded"></i></a></li>
                    <li>
                        <i class="bi bi-person-circle" id="loginBoxBtn"><span>登入/註冊</span></i>
                        <!-- 登入後的會員選單-->
                        <ul class="navDropdownMenu">
                            <li class="navDropdownMenuItem navMemProfile">
                                <div class="navDropdownMenuPhoto">
                                    <img src="https://picsum.photos/200/200/?random=10">
                                </div>
                                <div class="navDropdownMenuTitle">
                                    <span>張小明</span>
                                </div>
                            </li>
                            <li class="navDropdownMenuItem"><i class="bi bi-gear"></i> 帳號設定</li>
                            <li class="navDropdownMenuItem"><i class="bi bi-calendar2"></i> 我的行程</li>
                            <li class="navDropdownMenuItem"><i class="bi bi-bookmark-heart"></i> 我的收藏</li>
                            <li class="navDropdownMenuItem"><i class="bi bi-file-person"></i> 我的揪團</li>
                            <li class="navDropdownMenuItem"><i class="bi bi-bag"></i> 我的訂單</li>
                        </ul>
                    </li>
                    <li>
                        <div class="burger-toggle">
                            <i class="bi bi-list"></i>
                        </div>
                    </li>
                </ul>
            </section>          
        </nav>
        <!-- 漢堡 -->
        <div class="navPage">
            <button class="navPage--close">
                <span class="close_line"></span>
                <span class="close_line"></span>
              </button>
            <div class="navPage_wrap">
            <!--     <div class="navPage_header"></div> -->
                <div class="navPage_content">
            <!--       <div class="navPage_logo"></div> -->
                    <div class="navPage_box">
                        <nav class="navPage_nav">
                            <ul class="navPage_list">
                                <li class="navPage_item">
                                    <div class="navPage_header">
                                    <span class="navPage_header--num">01</span>
                                    <span class="navPage_header--line"></span>
                                    </div>
                                    <div class="navPage_text">
                                    <span class="navPage_text--en">Plan journey</span>
                                    <span class="navPage_text--ch">行程規劃</span>
                                    </div>
                                    <a href="tour.html" class="navPage_link"></a>
                                </li>
                                <li class="navPage_item">
                                    <div class="navPage_header">
                                    <span class="navPage_header--num">02</span>
                                    <span class="navPage_header--line"></span>
                                    </div>
                                    <div class="navPage_text">
                                    <span class="navPage_text--en">All together</span>
                                    <span class="navPage_text--ch">揪團旅行</span>
                                    </div>
                                    <a href="group.html" class="navPage_link"></a>
                                </li>
                                <li class="navPage_item">
                                    <div class="navPage_header">
                                    <span class="navPage_header--num">03</span>
                                    <span class="navPage_header--line"></span>
                                    </div>
                                    <div class="navPage_text">
                                    <span class="navPage_text--en">Shop</span>
                                    <span class="navPage_text--ch">景點門票</span>
                                    </div>
                                    <a href="shop.html" class="navPage_link"></a>
                                </li>
                                <li class="navPage_item">
                                    <div class="navPage_header">
                                    <span class="navPage_header--num">04</span>
                                    <span class="navPage_header--line"></span>
                                    </div>
                                    <div class="navPage_text">
                                    <span class="navPage_text--en">Postcard</span>
                                    <span class="navPage_text--ch">客製明信片</span>
                                    </div>
                                    <a href="postcard.html" class="navPage_link"></a>
                                </li>
                            </ul>
                        </nav>
    
                    </div>
                </div>  
            </div>
        </div>
    </header>
    <main>
        <section class="l-full groupform">
            <div class="groupform_wrap" id="groupform_wrap">
                <div class="title">封面圖片</div>
                <div class="uploadCover">
                    <div class="header">
                        <label class="btn btn--main">
                            <input id="uploadBtn" style="display:none;" type="file">
                            <i class="bi bi-image">上傳圖片</i>
                        </label>
                    </div>
                    <div class="dropZone" id="dropZone">
                        <div class="dropZone_title">限制大小最多2MB</div>
                        <img id="coverImg">
                    </div>
                </div>
                <div class="fieldSection">
                    <label for="groupTitle">揪團名稱</label>
                    <input type="text" id="groupTitle">
                </div>
                <div class="fieldSection groupform_desc">
                    <label for="groupDesc">揪團描述</label>
                    <textarea name="" id="groupDesc" cols="30" rows="10" class="desc"></textarea>
                </div>
                <div class="fieldSection groupform_date">
                    <div class="date_wrap startDate_wrap">
                        <label for="startDate">揪團出發日期</label>
                        <div class="datepicker_wrap align">
                            <input type="date" class="diablePastDate">
                        </div>
                    </div>
                    <div class="date_wrap endDate_wrap">
                        <label for="endDate">揪團結束日期</label>
                        <div class="datepicker_wrap align">
                            <input type="date" class="diablePastDate">
                        </div>
                    </div>
                    <div class="date_wrap deadline_wrap">
                        <label for="deadline">報名截止日期</label>
                        <div class="datepicker_wrap">
                            <input type="date" class="diablePastDate">
                        </div>
                    </div>
                </div>
                <div id="peopleNum" class="fieldSection groupform_peopleNum">揪團設定總人數
                    <button class="numBtn" @click="subtract">-</button>
                    <input type="text" value="0" size="1" v-model="total">
                    <button class="numBtn" @click="add">+</button>
                </div>
                <div class="fieldSection share">分攤方式
                    <select v-model="selectedMethod">
                        <option value="" disabled>請選擇</option>
                        <option v-for="way in ways">{{way}}</option>
                    </select>
                </div>
                <div class="fieldSection btnSection">
                    <button class="btn btn--main">取消</button>
                    <button class="btn btn--main" id="publish">公開揪團</button>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer_Wrap">
        <section class="footerBlock">
            <ul class="footerMedia">
                <a href="">
                    <li><i class="bi bi-facebook"></i></li>
                </a>
                <a href="">
                    <li><i class="bi bi-instagram"></i></li>
                </a>
                <a href="">
                    <li><i class="bi bi-line"></i>
                        </ion-icon>
                    </li>
                </a>
            </ul>
            <ul class="footerContect">
                <li><i class="bi bi-telephone"></i>電話:03-1234567</li>
                <li><i class="bi bi-envelope"></i>服務信箱:<a href="mailto:abc12345@gmail.com">abc12345@gmail.com</a></li>
                <li><i class="bi bi-clock"></i>營業時間:09:00 ~ 18:00(一)~(五)</li>
                <li><i class="bi bi-pin-map"></i>地址:桃園市桃園區中正路99999號</li>
            </ul>
            <ul class="footerTerms">
                <a href="">
                    <li>服務條款</li>
                </a><a href="">
                    <li>購物條款</li>
                </a><a href="">
                    <li>付款方式</li>
                </a>
            </ul>
            <p class="footerCopyRight">&copy;copy right by nobody.Please don'tsue me.</p>
        </section>
    </footer>
    <div class="froLoginBG" id="froLoginBG">
        <section class="froLoginBlock" id="froLoginBlock">
            <!-- 取消按鈕 -->
            <div class="froLoginCancel">
                <button><i class="bi bi-x-circle-fill"></i></button>
            </div>
            <!-- 註冊/登入 -->
            <div class="froLoginSwitch">
                <div class="froLoginSwitch_btn froLoginSwitch_active" @click="content='login',content2='loginbear'">
                    登入
                </div>
                <div class="froLoginSwitch_btn" @click="content='signin',content2='singinbear'">
                    註冊
                </div>
            </div>
            <!-- 表單區 -->
            <div class="froLoginForm_wrap">
                <transition name="frologintransition" mode="out-in">
                    <keep-alive>
                        <component :is='content'></component>
                    </keep-alive>
                </transition>
            </div>
            <transition name="mascottransition">
                <component :is='content2'></component>
            </transition>
        </section>
    </div>


    <!-- 封面JS區 -->
    <script>
        function init() {
            var dropZone = document.getElementById('dropZone');
            var uploadBtn = document.getElementById('uploadBtn');

            dropZone.ondragover = dragOver;
            dropZone.ondrop = dropped;
            uploadBtn.onchange = previewImg;
        }
        function dragOver(e) {
            e.preventDefault();
        }
        function dropped(e) {
            e.preventDefault();
            let file = e.dataTransfer.files[0];
            let readfile = new FileReader();
            readfile.readAsDataURL(file);
            readfile.addEventListener('load', function () {
                let coverImg = document.getElementById('coverImg')
                coverImg.src = readfile.result;
            });
        }
        function previewImg() {
            let file = uploadBtn.files[0];
            let fileSize = uploadBtn.files[0].size;
            console.log(fileSize);
            let readFile = new FileReader();
            readFile.readAsDataURL(file);
            readFile.addEventListener('load', function () {
                let coverImg = document.getElementById('coverImg');
                let dropZone_title = document.querySelector('.dropZone_title');
                if(fileSize > 2 * 1024 * 1024){
                    dropZone_title.innerText = '上傳失敗，請上傳2MB以內的照片';
                    console.log("HI");
                    return;
                }else{
                coverImg.src = readFile.result;
                dropZone_title.style.display="none";
                }

            })
        }
        window.addEventListener('load', init);
    </script>

    <!-- disable past dates -->
    <script>
        let today = new Date().toISOString().split('T')[0];
        let diablePastDate = document.querySelectorAll('.diablePastDate');
        for(let i=0; i<diablePastDate.length; i++){
            diablePastDate[i].setAttribute('min', today);
        }
        
    </script>
    <!-- VUE出數量加減 -->
    <script>
        let vm = new Vue({
            el: '#groupform_wrap',
            data: {
                total: 0,
                selectedMethod: '',
                ways: ['免費', '各自負擔', '先付訂金'],
            },
            methods: {
                subtract() {
                    if (this.total > 0) {
                        this.total -= 1;
                    } else {
                        this.total = 0;
                    }
                },
                add() {
                    this.total += 1;
                },
            },
        });
    </script>

    

    <script src="js/forlogin.js"></script>
    <script src="js/burger.js"></script>



</body>

</html>
