body{
    background-color: rgb(255,238,211);
}
/* ---流動圖片區--- */
.groupMarquee {
    width: 100%;

    &_wrap {
        overflow: hidden;
    }
    .pic{
        width: 100%;
        display: flex;
        animation: groupMarquee_move 100s linear infinite running;

        img{
            width: 50%;
        }
    }
}
/* ---熱門揪團城市區---*/
.groupCities{
    margin: 30px 0;

    &_wrap h2{
        padding-bottom: 30px;
        text-align: center;
    }
    &_wrap .row{
        .pic{
            width: 100%;
            padding-bottom: 10px;
        }
        img{
            border-radius: 50% 0%;
        }
        .txt{
            text-align: center;
        }
    }   
}
/* ---搜尋框---*/
.groupSearchBar{
    margin: 30px 0;
    &_wrap{
        .search_wrap{
            position: relative;
            display: flex;
            justify-content: center;
        }
        input{
            width: 80%;
            height: 30px;
            border-radius: 50px;
            padding: 0px 10px;
            border: 2px solid #3BAFE5;
            outline: none;  
        }
        input:focus{
            color:blue;
        }
    }
}
.groupSearchBar .groupSearchBar_wrap .search_wrap .search{
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(50%,-50%);
    width: 59px;
    height: 35px;
    border-radius: 20px 0px 20px 0px;
    cursor: pointer;
    border: 2px solid #3BAFE5;
    background-color: #14c6dd;
}
.groupSearchBar .groupSearchBar_wrap .search_wrap .search ion-icon{
    color: aliceblue;
    font-size: 20px;    
}
/* ---熱門搜尋關鍵字---*/
.groupSearchBar .groupSearchBar_wrap .keyword_wrap{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.groupSearchBar .groupSearchBar_wrap .keyword_wrap .topSearch{
    padding-left: 10%;
}
.groupSearchBar .groupSearchBar_wrap .keyword_wrap ul{
    display: flex;
    flex-wrap: wrap;
}
.groupSearchBar .groupSearchBar_wrap .keyword_wrap ul li .tag{
    border-radius: 5px;
    background:darkcyan;
    position: relative;
    margin-right: 20px;
}
.groupSearchBar .groupSearchBar_wrap .keyword_wrap ul li .tag:after{
    content: '';
    display: block;
    position: absolute;
    left: 130%;
    bottom: 0;
    width: 2px;
    height: 15px;
    background: #ccc;
}
/* ---篩選下拉式選單和揪團內容區---*/
.groupContent .groupContent_wrap #filter{
    width: 30%;
    background-color:gold;
}
.groupContent .groupContent_wrap #filter select{
    width: 100%;
    margin: 30px 0;
}

/* only for width below 768px */
@media screen and (max-width: 768px) {
    .groupCities .groupCities_wrap .row .col-4{
        margin: 10px 0;
    }
}