.shopType h2, .shopHotCity h2, .shopProduct h2{
    font-size: $second-title;
    text-align: center;
}


.shopType .item .parttxt{
    padding: 40%;
    
}

.shopType .item h2{
    color: white;
    border: 1px solid white;
    border-radius: 50% 0;
    padding: 5px;
    display: inline-block;
    
}

.shopType .col-6{
    padding: .2rem .2rem;
    margin: 0;
    
}

.shopType .item{
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
 
.shopSearch{
    text-align: center;
    margin: 30px 0;
    
}

.shopSearch_wrap{
    margin: auto;
    width: 80%;
    position: relative;
}

.shopSearch input{
    width: 100%;
    padding: 0 10px;
    height: 30px ;
    border-radius: 50px;
    border: 2px solid #3BAFE5;
    
    
}

.shopSearch input:focus{
    color: rgb(240, 105, 42);;
    outline: 0;
    border: 3px solid #3BAFE5;
}

.shopSearchBtn{
    width: 60px;
    height: 30px;
    background-color: #007183;
    border: none;
    border-radius:  20px 0px 20px 0px;;
    position: absolute;
    right: 0px;
    cursor: pointer;

}

.shopSearch .bi.bi-search{
    color: aliceblue;
    font-size: 20px;    
}

.shopHotCity{
    text-align: center;

 }

 .shopHotCity h2{
     margin: 30px 0;
 }

.shopHotCity .city img{
    border-radius: 50% 0;
}

.shopProduct .card_content{
    margin: 0 15px;
}

.shopProduct .card a{
    color: black;
}

@media screen and (min-width:768px){
    .shopType .item h3{
        padding: 60% 40%;
    }

    .shopType .col-md-3{
        padding: .1rem .1rem;
        margin: 0;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .shopType .item:hover{
        transform:scale(1.02,1.02);
        
    }

}

