.shopcart{
    margin-top: 80px;
   
}

.shopcart_wrap{
    width: 80%;
    border: 1px solid #aaa;
    border-radius: 30px;
    margin: auto;
    margin-top: 80px;
    background-color: #f5f5f5;
    
}

.shopcart h2{
    margin: 15px;
    font-size:$second-title ;
    
}



.shoplist{
    margin: 10px;
    display: flex;
    
}

.shoplist img{
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin: 10px;
    
}

.shoplist .text p{
    margin: 10px auto;
    
}

.shoplist h3{
    font-size: $third-title;
    margin-top: 10px;
    
}

.shoplist .content{
    width: 80%;
    
}



.shoplist_total{
    margin: 15px;
    text-align: right;

}

.shoplist_total p{
    margin: 10px;
    color: rgb(139, 139, 139);

}

.shoplist_total .deadline{
    margin-left: 5px; 
    
}

.shoplist_total .shoptotal{
    color: #007183;

}

.shopcart .shopbtn{
    margin: auto;
    width: 80%;
    text-align: right;

}

.shopcart .shopbtn .keep{
    margin: 15px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    background: none;

}



@media screen and (min-width:768px){
    .shoplist .pro_img{
        width: 20%;

    }

    .shoplist img{
        width: 80%;
        height: auto;
        margin: 10px;
        
    }
    
    .shoplist_text{
        width: 90%;
        
    }

    .shoplist_text>*{
        margin: auto;

    }

    .shoplist_text .content_wrap{
        display: flex;
        justify-content: space-between;
        margin-left: 0;
       
    }

    .shoplist .content{
        width: 40%;
        
    }
    
}