.footer_Wrap{
    font-family:'Noto Serif TC',serif;
    background-color: rgb(51, 88, 117);//footer背景色
    max-width: 1920px;
    margin: auto;
    padding-bottom: 10px;
}
.footerMedia{
    font-size: 20px;
    text-align: center;
    background-color: rgb(131,171,201);//icon區背景色
    li{
        font-size: 30px;
        padding: 0 15px;
        color: #fff;//icon顏色
        &:hover{
            color: rgb(51, 88, 117);//icon區hover色
        }
    }
}
.footerContect{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #fff;//聯絡資料顏色
    text-align: center;
    font-size: 14px;
    li{
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        ion-icon{
            padding-right: 3px;
        }
    }
    a{
        color: rgb(255, 255, 255);//聯絡資料顏色
    }
}
.footerTerms{
    text-align: center;
    font-size: 12px;
    padding: 10px 0;
    a{
        position: relative;
        margin: 0 10px;
        color: rgb(229,230,231);//條約顏色
        li:hover{
            color: rgb(117, 255, 232);//條約hover顏色
        }
        & + a::before{
            content: '|';
            position: absolute;
            left: -10px;
        }
    }
}
.footerCopyRight{
    text-align: center;
    color: rgb(229,230,231);//著作權顏色
    font-size: 12px;
}

// @media screen and (min-width:768px) {
    
// }
@media screen and (min-width:996px) {
    .footer_Wrap{
        .footerContect{
            flex-direction: row;
            // justify-content:space-evenly;
            
        }
    }
}

// @media screen (min-width:1200px) {
    
// }