.nav_Wrap{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    max-width: 1920px;
    margin: auto;
    background-color: $white;
    box-shadow: 0 3px 3px 0 #ddd5;
}

.navBlock{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 90%;
    margin: auto;
    .navLogo img{
        height:50px;
    }
    .mainNav{
        display: none;
        flex-grow: 1;
        padding-left: 40px;
        a{
            height: 100%;
            padding: 0 7px;
            color: $black;
            &:hover{
                // background-color: $accentColor;
                color: $accentColor;
            }
            li{
                height: 100%;
                display: flex;
                align-items: center;
            }
        }
    }
    @media screen and (min-width:768px){
        .mainNav{
            display:flex;
        }
    }

    .navMember{
        display: flex;
        align-items: center;
        a{
            color: $black;
        }
        &>li{
            padding-left:20px;
            color: $black;
            cursor: pointer;
        }
    }
}

// 會員資訊下拉選單
.navDropdownMenu{
    display: none;

    position: absolute;
    top: 130%;
    right:5%;
    background-color: $white;

    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px;
    .navDropdownMenuItem{
        padding:10px 45px;
        border-bottom: 1px solid #3335;
        &+.navDropdownMenuItem{
            border-bottom:none;
            border-top:1px solid #3332;
        }
    }
    .navMemProfile{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .navDropdownMenuPhoto{
            width: 50px;
            overflow: hidden;
            border-radius:50% ;
        }
        .navDropdownMenuTitle{
            width: 70%;
            padding-left: 10px;
        }
    }
}
.navDropdownMenu::before{
    content: '';
    display: block;
    border-bottom: 10px solid $white;
    border-right: 5px solid #0000;
    border-left: 5px solid #0000;
    position: absolute;
    right: 20%;
    top:-10px;
}
