.btn {
    font-family: 'Caveat',serif;
    padding: 10px;
    border-radius: 100px;

    &--cart {
        background-color: #fff;
       
        
    }

    &--main {
        background-color: #007183;
        font-size: 20px;
        color: #FEBC9F;
    }
}